<header>
  <div class="menu-toggler" (click)="toggleClass()" #menuToggler>
    <div class="bar half start"></div>
    <div class="bar"></div>
    <div class="bar half end"></div>
  </div>
  <nav class="top-nav" #topnav>
    <ul class="nav-list">
      <li>
        <a class="nav-link">
          Home
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="goAbout()">
          About
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="goSkills()">
          Skills
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="goProjects()">
          Portfolio
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="goExperience()">
          Experience
        </a>
      </li>
    </ul>
  </nav>
  <div class="landing-text" *ngIf="landingInfo() | async; let landing">
    <h1>{{ landing[0] }}</h1>
    <h6>{{ landing[1] }}</h6>
  </div>
</header>
