$primary: #73ffc2;
$secondary: #73bbff;

header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #16162d;
  top: -100vh;
  z-index: 50;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, $primary, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, $primary, $secondary);
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-500grad) translateX(0.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-500grad) translateX(-0.8rem);
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  user-select: none;
}

.landing-text h1 {
  font-size: 3rem;
  background: linear-gradient(to right, $primary, $secondary);
  -webkit-text-fill-color: transparent;
  background-clip: text;
	text-transform: capitalize ;
	margin-bottom: 1rem;
}

.landing-text h6 {
  font-size: 1.5rem;
}


@media screen and (max-width: 768px) {
  .landing-text h1 {
    font-size: 6rem;
  }

  .landing-text h6 {
    font-size: 1.7rem;
  }

  .nav-list {
    flex-direction: column;
  }

  li {
    margin: 2rem 0;
  }

  .nav-link {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 600px) {
  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }

  .landing-text h1 {
    font-size: 6rem;
  }

  .landing-text h6 {
    font-size: 1.4rem;
  }

  .nav-link {
    font-size: 3.5rem;
  }
}

