<section id="about" class="about">
  <div class="container">
    <div class="about-details">
      <div class="about-heading">
        <h1>About</h1>
        <h6>Myself</h6>
      </div>
      <p>
        Elit quod rerum consequuntur itaque repellat? Totam explicabo id
        exercitationem officia consequatur sit. Enim ducimus illo placeat
        mollitia quibusdam amet Deserunt mollitia incidunt natus soluta
        perferendis. Tempore a libero repellendus.
      </p>
      <div class="social-media">
        <ul class="nav-list">
          <li>
            <a class="icon-link" href="#">
              <i class="fab fa-github-alt" id="breathing-button"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
