<section id="about" class="about">
  <div class="container">
    <div class="about-details">
      <div class="about-heading">
        <h1>About</h1>
        <h6>Myself</h6>
      </div>
      <div>
        <p>
          <i class="fas fa-map-marker-alt"></i>
          Oaxaca, México
        </p>
        <p>
          <i class="fas fa-graduation-cap"></i>
          Instituto Tecnológico de Oaxaca
        </p>
        <p>
          <i class="far fa-envelope"></i>
          {{ getEmail() | async }}
        </p>
      </div>
      <p>
        {{ getAbout() | async }}
      </p>
      <div class="social-media">
        <ul
          class="nav-list"
          *ngFor="let socialMedia of getSocialMedia() | async"
        >
          <li>
            <a class="icon-link" href="{{ socialMedia.link }}" target="_blank">
              <i class="{{ socialMedia.icon }}" id="breathing-button"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
