<section id="experience" class="experience">
  <div class="container">
    <div class="section-heading">
      <h1>Work website</h1>
      <h6>Past nad current jobs</h6>
    </div>
    <div class="timeline">
      <ul>
        <li class="date" date-date="2011 - present">
          <h1>Google</h1>
          <p>
            Accusantium architecto ea nesciunt harum iure Ullam magnam amet
            adipisci natus tenetur eius corrupti Non mollitia beatae aut
          </p>
        </li>
        <li class="date" date-date="2002 - 2007">
          <h1>Google</h1>
          <p>
            Accusantium architecto ea nesciunt harum iure Ullam magnam amet
            adipisci natus tenetur eius corrupti Non mollitia beatae aut
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
