<section id="experience" class="experience">
  <div class="container">
    <div class="section-heading">
      <h1>Work website</h1>
      <h6>Past nad current jobs</h6>
    </div>
    <div class="timeline">
      <ul>
        <li
          class="date"
          *ngFor="let work of getWorkHistory() | async"
          [attr.start-date]="dateP(work.from).concat('&#xa;' + dateP(work.to))"
        >
          <h1>{{ work.workName }}</h1>
          <p>
            {{ work.jobDescription }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
