.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.profile-img {
  width: 30rem !important;
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.7;
}

.portfolio-description ul li {
  font-size: 1.5rem;
  padding: 0.2rem;
}

.cta {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: white;
  transition: color 650ms;
  margin-right: 0.5rem;
  background-color: #ffffff66;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.cta-tech {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: white;
  transition: color 650ms;
  margin-right: 0.5rem;
  background-color: #ffffff66;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    margin: 0 0 2rem 0;
    width: 30rem;
    order: 1;
  }

  .portfolio-description {
    margin: 0;
    order: 2;
    text-align: center;
  }

  .portfolio-description h1 {
    display: inline;
  }

  .tasks {
    list-style: none;
  }
}
