<section id="porfolio" class="portfolio">
  <div class="container">
    <div class="section-heading">
      <h1>Portfolio</h1>
      <h6>
        View some of my recent work
      </h6>
    </div>
    <div class="portfolio-item">
      <div class="portfolio-description has-margin-right">
        <h6>Web development</h6>
        <h1>Blog website</h1>
        <p>
          Accusantium architecto ea nesciunt harum iure Ullam magnam amet
          adipisci natus tenetur eius corrupti Non mollitia beatae aut
        </p>
        <a href="#" class="cta">View Details</a>
      </div>
      <div class="portfolio-img">
        <img src="assets/portitem1.jpeg" alt="" />
      </div>
    </div>
    <div class="portfolio-item">
      <div class="portfolio-img has-margin-right">
        <img src="assets/portitem1.jpeg" alt="" />
      </div>
      <div class="portfolio-description">
        <h1>Blog website</h1>
        <h6>Web development</h6>
        <p>
          Accusantium architecto ea nesciunt harum iure Ullam magnam amet
          adipisci natus tenetur eius corrupti Non mollitia beatae aut
        </p>
        <a href="#" class="cta">View Details</a>
      </div>
    </div>
  </div>
</section>
