<section id="porfolio" class="portfolio">
  <div class="container">
    <div class="section-heading">
      <h1>Portfolio</h1>
      <h6>
        View some of my recent work
      </h6>
    </div>
    <div class="portfolio-item" *ngFor="let project of getProjects() | async">
      <div class="portfolio-description has-margin-right">
        <h1>{{ project.projectName }}</h1>
        <p>Tasks</p>
        <ul>
          <li *ngFor="let task of project.tasks">
            {{ task }}
          </li>
        </ul>
        <ul>
          <li *ngFor="let tech of project.technologies" class="cta-tech">
            #{{ tech }}
          </li>
        </ul>

        <a
          [href]="link.link"
          class="cta"
          target="_blank"
          *ngFor="let link of project.links"
          >{{ link.name }}</a
        >
      </div>
      <div class="portfolio-img">
        <img [src]="project.img" alt="" />
      </div>
    </div>
  </div>
</section>
