<section id="skills" class="skills">
  <div class="container">
    <div class="section-heading">
      <h1>Skills</h1>
      <h6>
        What can I do for you
      </h6>
    </div>
    <div class="my-skills">
      <div class="skill" *ngFor="let skill of getSkills() | async">
        <div
          class="icon-container"
          [ngStyle]="{ color: '' + skill.color + '' }"
        >
          <i class="{{ skill.icon ? skill.icon : 'fas fa-layer-group' }}"></i>
        </div>
        <h1>{{ skill.technologyName }}</h1>
        <p>
          <span class="experienceInYears"> {{ skill.experienceInYears }}+</span>
          years experience
        </p>
      </div>
    </div>
  </div>
</section>
